@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Practica de EntityFramework.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>
            La practica esta desarrollada bajo la arquitectura ASP.NET MVC
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>EntityFramework</h2>
        <p>La tecnologia de mapeo seleccionada es ADO.NET EntityDataModel</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Herencia e Interfaces</h2>
        <p>En la practica se implementa el concepto de Herencia construynedo la clase BaseLogic y el concepto de Interfaces con la clase ILogic.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>